<footer >
    <div class="footer-top" style="text-align: center; font-family: cursive; ">
        <div class="container-fluid text-muted p-3">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="header3">Contact Details</h3>
                    <p>
                        Phone no: (+91)6000******<br>
                        E-mail id: apekshamodi24@gmail.com
                    </p>    
                </div>
                <div class="col-md-4">
                    <h3 class="header3">About Me</h3>
                    <p>This is a basic e-banking website  that I have created as a part of my GRIP2021 task. Hope you like it! </p>
                </div>
                <div class="col-md-4">
                    <h3 class="header3">Social Media Links</h3>
                    <p>
                         GitHub: <a href="https://github.com/masoomkonwar/"><i class="fa fa-github"></i></a> <br>
                         Instagram: <a href="https://www.instagram.com/masoomkonwar/"><i class="fa fa-instagram"></i></a><br>
                         LinkedIn: <a href="https://www.linkedin.com/in/masoom-konwar-a14693143"><i class="fa fa-linkedin"></i></a>
                     </p>
                </div>
            </div>
        </div>
    </div>
  </footer>