<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div class="container-fluid p-0 m-0" style="font-family: cursive;" >
            <div class="row p-0 m-0" style=" height: 70vh;">
                <div class="col-md-2 p-0 " style="background-color: rgb(180, 218, 230);" >
                    <div class="row m-1 " >
                        <h4>OUR VALUES.. <br> <br></h4>
                        <div class="row mt-2">
                            <i class="fa fa-heart"></i>
                            <h4>LOVE</h4>
                            <p>We work together with love</p>
                        </div>
                        <div class="row mt-2">
                            <i class="fa fa-cloud"></i>
                            <h4>SERVICE</h4>
                            <p>We work 24x7</p>
                        </div>
                        <div class="row mt-2">
                            <i class="fa fa-comments"></i>
                            <h4>COMMUNICATION</h4>
                            <p>We listen</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-center" style="background-color: rgb(141, 209, 230);">
                   <div class="row" style="height: 18vh; background-color: rgb(207, 231, 241);">
                    <h2 style="font-family: cursive; font-weight: 200;">BASIC BANKING APP</h2>
                    <h6 style="font-family: cursive; font-weight: 200;"> CREATED BY: </h6>
                    <h4 style="font-family: cursive; font-weight: 200;">APEKSHA MODI</h4>
                   </div>
                   <div class="row p-5" style="height: 52vh;">
                        <h3>What our customers say..</h3>                        
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner " style="padding: 12vh;">
                              <div class="carousel-item active">
                                <h4>"Could I... BE any more happy with this bank?"<br> -Mr. Tony Stark</h4>
                              </div>
                              <div class="carousel-item">
                                <h4>"This bank is the best. I am so happy with the result!"<br> -Mr. King Shark</h4>
                              </div>
                              <div class="carousel-item">
                                <h4>"One word... WOW!!"<br> -Mr. Bruce Wayne</h4>
                              </div>
                            </div>
                          </div>
                       </div>
                   </div>
                <div class="col-md-2 p-2" style="background-color: rgb(180, 218, 230); text-align: center;" >
                    <h3>SERVICES..</h3>
                    <button class="btn btn-warning mt-5" type="button" data-toggle="collapse" data-target="#transactions" aria-expanded="false" aria-controls="collapseExample"> TRANSACTIONS </button>
                    <div class="collapse mt-2" id="transactions">
                        <div class="card card-body">
                          Here, you can view all the transactions which happened using this banking website. 
                        </div>
                      </div>

                    <button class="btn btn-warning mt-5" type="button" data-toggle="collapse" data-target="#customers" aria-expanded="false" aria-controls="collapseExample"> CUSTOMERS </button>
                    <div class="collapse mt-2" id="customers">
                        <div class="card card-body">
                            Here, you can view all the customers' profiles who happily uses this banking website. 
                        </div>
                    </div>
                    <button class="btn btn-warning mt-5" type="button" data-toggle="collapse" data-target="#locations" aria-expanded="false" aria-controls="collapseExample"> LOCATIONS </button>
                    <div class="collapse mt-2" id="locations">
                        <div class="card card-body">
                            <p>
                          You can access this website on:
                          <i class="fa fa-chrome"> Google Chrome</i>
                          <i class="fa fa-edge"> Microsoft Edge</i>
                          <i class="fa fa-firefox"> Mozilla Firefox</i>
                          </p>
                        </div>
                    </div>
                    <button class="btn btn-warning mt-5" type="button" data-toggle="collapse" data-target="#about" aria-expanded="false" aria-controls="collapseExample"> ABOUT THE BANK </button>
                    <div class="collapse mt-2" id="about">
                        <div class="card card-body">
                            This website is used to transact amount between various users.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>