<div>
    <div class="row p-2" style="background-color: rgb(180, 218, 230); height: 70vh; text-align: center; font-family: cursive;">
        <h1>CUSTOMER PROFILES</h1>
        <div class="col-md-2  " *ngFor= "let item of customers" >
            <div class="card" style="width: 15rem;">
                <div class="card-body" style="border-radius: 50%;">
                    <h5 class="card-title">{{item.name}}</h5>
                    {{item.email}}<br>
                    {{item.balance}}<br>
                    <button class="btn btn-outline-warning" (click)="gotocustomerdetails(item.email)">VISIT PROFILE</button>
                  
                </div>
              </div>
           
        </div>
    </div>
</div>
